# Frontend API URL - Production (Render)
NEXT_PUBLIC_API_URL=https://my-project-server-xo9x.onrender.com/api
NEXT_PUBLIC_SITE_URL=https://ecocash-cryptocurrency-investment-ltd.tituskipkirui008.workers.dev

# Local development
# NEXT_PUBLIC_API_URL=http://localhost:5000/api
